body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    line-height: 150%;
    
}
.headerdiv {
    width: 960px;
    margin: 0 auto;
}

h1 {
    color:#ffffff;
    background-color: #4aaaa5;  
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    float: left;
    margin-bottom: 0;

}
nav {
    float: right;
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
}
a:link {
    text-decoration: none;
    color: #bbb;
    margin-bottom: 20px;
    margin-left: 5px;
  }

a:visited {
    text-decoration: none;
    color: #bbb;
  }

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }

.container {
    background-image: url("../images/fresh_snow.png"); 
    width: 100%;
    overflow: auto;
    clear: both; 

} 
#about-me,
#contact,
#portfolio {
    background-color: #ffffff;
    width: 960px;
    height: 600px;
    padding-top: 10px;
    margin: 30px auto;
}
h2 {
    color: #4aaaa5;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}

#bio-image {
    width: 250px;
    height: 400px;
    margin: 10px;
    float: left;
}
.imageBox {
    display: flex;
    width: 300px;
    margin-left: 20px;
    flex-flow: row wrap; 
    justify-content: flex-start; 
}
.imagecontainer {
    position: relative;

}
.images {
    width: 125px;  
    height: 125px; 
    margin: 10px;
}

.imagelabel {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    width: 125px;
    height: 25px;
    margin: 10px;
    bottom: 15px;
    z-index: 2;
}
 .formcontainer {
     margin-left: 20px;
 }
 input[type=submit] {
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    font-size: 18px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
  }
.footer {
    clear: both;
    height: 25px;
    font-size: 0.5em;
    background: #666666;
    text-align: center;
    color: #bbb;
    border-top: 5px solid #4aaaa5;
}